.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.bannerImage {
  height: auto;
  width: 100%;
  object-fit: cover;
  max-height: 500px;
}
.mainHeading {
  font-family: var(--heading-font);
  letter-spacing: 1px;
  color: var(--dark-charcoal);
}
.description {
  font-size: var(--paragraph-font-size);
  font-family: var(--main-font);
  color: var(--wenge-brown);
  padding: 0 32px;
}
.preparationcard {
  border-radius: 16px;
  background-color: var(--rose-white);
  padding: 32px;
}
.preparationheading {
  color: var(--dark-raspberry);
  letter-spacing: 1px;
  font-weight: 600;
  margin: 0;
}
.listitem {
  padding: 8px 0 8px 16px;
  color: var(--dark-raspberry);
  line-height: 1.5;
}
.listitemHeading {
  font-weight: 700;
  color: var(--wenge-brown);
}
.listitemText {
  color: var(--wenge-brown);
}
.divider {
  border-bottom: 1px solid var(--light-grey);
  width: 100%;
  margin: 20px 0 0 0;
}
.ingredients {
  margin: 26.8px 0;
}
.sectionsHeading {
  color: var(--nutmeg);
  font-family: var(--heading-font);
}
.ingredientlistitem {
  color: var(--dark-raspberry);
}
.ingredientsText {
  color: var(--wenge-brown);
}
/* Responsive styles */
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}
@media screen and (min-width: 993px) {
  .container {
    flex-direction: column;
    background-color: white;
    border-radius: 32px;
    padding: 32px;
  }
  .bannerImage {
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
  }
  .description {
    padding: 0;
  }
  .mainHeading {
    font-size: 40px;
  }
  .sectionsHeading {
    font-size: 24px;
  }
}
